mat-toolbar {
  box-sizing: border-box;
  background-color: #ffffff;
  height: 6rem;
  padding: 1rem 1.5rem 1rem 1rem;

  border: 1px solid #e8e8e8;
}

.navbar-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-admin-container {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.empty-avatar {
  --size: 3.5rem;
  width: var(--size);
  height: var(--size);
  border-radius: var(--size);
  background-color: gainsboro;
}

.admin-title,
.admin-name {
  font-size: 0.8rem;
  margin: 0;
}

.admin-name {
  color: #a4a4a4;
}
