<mat-toolbar>

  <button mat-icon-button (click)="onMenuClicked()"><mat-icon>menu</mat-icon></button>

  <div class="navbar-container">
    <h1>OLIVE</h1>

    <div class="navbar-inner-container">
      <div class="empty-bar">
      </div>
      <div class="navbar-admin-container">
        <div class="empty-avatar"></div>
        <div class="admin-information">
          <p class="admin-title">Admin Name</p>
          <p class="admin-name">Admin</p>
        </div>
      </div>
    </div>
  </div>
</mat-toolbar>
