<mat-toolbar>
  <button mat-icon-button (click)="onMenuClicked()">
    <mat-icon>menu</mat-icon>
  </button>

  <div class="navbar-container">
    <h1 style="letter-spacing: 1px;">OLIVE</h1>
    <div class="navbar-admin-container">
      <button mat-icon-button>
        <mat-icon svgIcon="app-bell-icon" class="larger"></mat-icon>
      </button>
      <div class="empty-avatar"></div>
      <div class="admin-information">
        <p class="admin-title">Admin Name</p>
        <p class="admin-name">Admin</p>
      </div>
    </div>
  </div>
</mat-toolbar>
