mat-toolbar {
  background-color: #E8E8E8;
  height: 5rem;
  padding: 1rem 3rem;
}

.navbar-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-inner-container {
  box-sizing: border-box;
  display: flex;
  column-gap: 3rem;

  width: calc(100% - 15rem + 3rem);
  padding-left: 2rem;
  justify-content: space-between;
  align-items: center;
}

.empty-bar {
  width: 35rem;
  height: 2rem;
  border-radius: 2rem;

  background-color: #dddddd;
}

.navbar-container > h1 {
  font-size: 3rem;
}

.navbar-admin-container {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.empty-avatar {
  --size: 3.5rem;
  width: var(--size);
  height: var(--size);
  border-radius: var(--size);
  background-color: white;
}

.admin-title,
.admin-name {
  font-size: 0.8rem;
  margin: 0;
}

.admin-name {
  color: #aaaaaa;
}
