.space-between {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#create-new-button {
  width: 12rem;
  height: 2.5rem;

  color: white;
  background-color: #999999;
}
