@if (!ruleEngineExists()) {
<h1>
  Rules engine with <strong>{{ rulesEngineId() }}</strong> does not exist.
</h1>
} @else {
<div class="space-between">
  <h2>Rules Engine > {{ name() }}-{{ countryName }}</h2>
  <button mat-button extended id="create-new-button"  [routerLink]="['new-rule']">
    <mat-icon class="plus-icon">add</mat-icon> Create New
  </button>
</div>

<app-data-table [tableColumns]="tableColumns()" [tableData]="data()" />
}

<!-- Define the columns of the table -->
<ng-template #actionsTemplate let-ruleEngineId="row.id">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>Edit</button>
  </mat-menu>
</ng-template>
