<div class="space-between">
  <h2>Rules Engine > {{ module() }}-{{ countryName }}</h2>
  <button mat-button extended id="create-new-button">
    <mat-icon class="plus-icon">add</mat-icon> Create New
  </button>
</div>

<ng-template #actionsTemplate let-ruleEngineId="row.id">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>Edit</button>
  </mat-menu>
</ng-template>

<app-data-table [tableColumns$]="tableColumns$" [tableData]="data()" />
