<div class="section-container balance-container" [formGroup]="form">
  <h2>Balance</h2>

  <app-coupled-input
    [options]="balanceUnitOptions"
    class="balance-input"
    label="Balance"
    formGroupName="balance"
  ></app-coupled-input>

  @if (entitledValue() === 'through-balance') {
  <div class="balance-conditions-outer">
    <mat-checkbox formControlName="conditionalCheckBox" [checked]="false">
      Conditional
    </mat-checkbox>
    <app-conditional-balance formGroupName="conditional" />
  </div>
  }

  <div class="extended-balance-outer">
    <mat-checkbox formControlName="extendCheckBox" [checked]="false">
      Extend Balance
    </mat-checkbox>
    <app-extend-balance formGroupName="extend"/>
  </div>

  <mat-checkbox formControlName="canBeOveridden">
    Balance Can Be Overriden
  </mat-checkbox>

  @if (entitledValue() === 'through-balance') {
  <div class="frequency-outer" formGroupName="frequency">
    <div class="labeled-form-field">
      <mat-label class="vertically-aligned-label">Frequency:</mat-label>
      <mat-form-field floatLabel="auto" appearance="outline">
        <mat-select matInput required formControlName="frequency">
          @for (elem of frequencyOptions; track elem.name){
          <mat-option [value]="elem.value">{{ elem.name }}</mat-option>
          }
        </mat-select>

        @if (form.get('frequency.frequency')?.hasError('required')) {
        <mat-error><strong>required</strong></mat-error>
        }
      </mat-form-field>
    </div>

    <div class="labeled-form-field">
      <mat-label class="vertically-aligned-label">Frequency Start:</mat-label>
      <mat-form-field floatLabel="auto" appearance="outline">
        <input
          required
          matInput
          [matDatepicker]="picker"
          formControlName="start"
        />

        <mat-datepicker-toggle matIconSuffix [for]="picker">
        </mat-datepicker-toggle>

        <mat-datepicker #picker></mat-datepicker>

        @if (form.get('frequency.start')?.hasError('required')) {
        <mat-error><strong>required</strong></mat-error>
        }
      </mat-form-field>
    </div>
  </div>
  }
</div>
