.section-container {
  padding: 1rem 2rem 1rem 2rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
}

.balance-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.balance-input {
  width: 20%;
}

.balance-conditions-outer,
.extended-balance-outer {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  row-gap: 0.5rem;
}

.frequency-outer {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.labeled-form-field {
  display: flex;
  column-gap: 0.5rem;
}

.vertically-aligned-label {
  line-height: var(--mat-form-field-container-height);
}
