<div class="toolbar-container">
  <h2>{{ headingText }}</h2>

  <div class="search-container">
    <mat-form-field
      appearance="outline"
      subscriptSizing="dynamic"
    >
      <mat-label>Search</mat-label>
      <input matInput type="search" />
      <button matPrefix mat-icon-button aria-label="Search" extended>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

    <button type="button" mat-stroked-button>
      <mat-icon>tune</mat-icon>
      <span>Filter</span>
    </button>
  </div>
</div>

<app-data-table [tableColumns]="tableColumns()" [tableData]="data" />

<!-- Define the columns of the table -->
<ng-template #countryIconTemplate let-countryCode>
  <app-country-icon [countryCode]="countryCode" />
</ng-template>

<ng-template #moduleTemplate let-module>
  <p>{{ module }}</p>
</ng-template>

<ng-template #actionsTemplate let-ruleEngineId="row.id">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="ruleEngineId">Edit</button>
  </mat-menu>
</ng-template>
