<h2>{{ headingText }}</h2>

<app-data-table [tableColumns]="tableColumns()" [tableData]="data" />

<!-- Define the columns of the table -->
<ng-template #countryIconTemplate let-countryCode>
  <app-country-icon [countryCode]="countryCode" />
</ng-template>

<ng-template #moduleTemplate let-module>
  <p>{{ module }}</p>
</ng-template>

<ng-template #actionsTemplate let-ruleEngineId="row.id">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="ruleEngineId">Edit</button>
  </mat-menu>
</ng-template>
