.country-flag {
  --size: 32px;
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  overflow: hidden;
  border-radius: 50%;

  border-style: solid;
  border-color: rgb(238, 238, 238);
  border-width: 3px;

  box-shadow: 0 3px 3px gray;
}

.country-flag img {
  width: auto;
  height: 160%;
  margin-top: -10px;
  margin-left: -10px;
}
