:host {
  display: block;
}

tr:not(.mat-mdc-header-row) {
  height: 5rem;
}

.mat-mdc-header-row {
  background: #000000;
}

.mat-mdc-header-row > th {
  color: white;
}

.mat-mdc-header-cell:first-child {
  border-radius: 0.5rem 0 0 0;
}

.mat-mdc-header-cell:last-child {
  border-radius: 0 0.5rem 0 0;
}

.mat-mdc-paginator {
  background-color: transparent;
}

.mat-mdc-table.mdc-data-table__table.cdk-table {
  border-bottom: 2px solid #eeeeee;
}

.mat-mdc-cell:first-child {
  border-left: 2px solid #eeeeee;
}
.mat-mdc-cell:last-child {
  border-right: 2px solid #eeeeee;
}

.mat-mdc-form-field {
  width: calc(100% / 3);
}
