<div class="right-align">
  <mat-form-field appearance="outline">
    <mat-label>Search</mat-label>
    <input matInput type="search" />
    <button matSuffix mat-icon-button aria-label="Search">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" [trackBy]="identity">
  @for (column of tableColumns(); track column.value) {

  <ng-container [matColumnDef]="column.value">
    <th mat-header-cell *matHeaderCellDef>{{ column.name }}</th>

    <td mat-cell *matCellDef="let row">
      @if (column.template) {
      <ng-container
        *ngTemplateOutlet="
          column.template;
          context: { $implicit: row[column.value], row: row }
        "
      >
      </ng-container>
      } @else {
      {{ row[column.value] }}
      }
    </td>
  </ng-container>
  }

  <tr mat-header-row *matHeaderRowDef="selectedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: selectedColumns"></tr>
</table>

<mat-paginator
  showFirstLastButtons
  aria-label="Select page"
  [pageSize]="5"
  appCustomPagination
  [length]="dataSource.data.length"
  [appCustomLength]="dataSource.data.length"
  [renderButtonsNumber]="1"
>
</mat-paginator>
