html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.g-bubble-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.g-bubble {
  display: flex;

  width: 20px;
  height: 20px;
  border-radius: 50%;

  align-items: center;
  justify-content: center;
  color: #aaaaaa;

  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;

  background-color: transparent;
}

.g-bubble:not(.g-bubble__active):hover {
  background-color: #b6b6b6;
  color: white;
}

.g-bubble__active {
  background-color: black;
  color: white;
}

.mat-mdc-paginator-page-size-value {
  width: 3rem;
  padding-left: 0.5rem;
  background-color: #eeeeee;

  border-radius: 1rem;
  text-align: left;
}