<h2>Rules Engine > Leave Types - Jordan > Create New</h2>

<form [formGroup]="ruleForm" (ngOnSubmit)="onSubmit()">
  <div class="sections-container">
    <div class="name-input-container section-container">
      <h2>Name</h2>
      <mat-form-field floatLabel="auto" appearance="outline" class="full-width">
        <input
          type="text"
          matInput
          required
          [formControl]="ruleForm.controls.name"
        />
        @if (ruleForm.controls.name.hasError('required')) {
        <mat-error>Name is <strong>required</strong></mat-error>
        }
      </mat-form-field>
    </div>

    <div class="section-container">
      <h2>Basic info</h2>

      <div class="basic-info-input-container">
        <div class="radio-inputs">
          <mat-radio-group
            matInput
            aria-label="Select an option"
            [formControl]="ruleForm.controls.type"
            selectedOption="paid"
            class="horizontal-group"
            (change)="changeFormState()"
          >
            <mat-label>Type:</mat-label>
            <mat-radio-button value="paid">Paid</mat-radio-button>
            <mat-radio-button value="not-paid" [checked]="true"
              >Not paid</mat-radio-button
            >
          </mat-radio-group>

          <mat-radio-group
            aria-label="Select an option"
            [formControl]="ruleForm.controls.entitled"
            class="horizontal-group"
            (change)="entitledChanged()"
          >
            <mat-label>Entitled:</mat-label>
            <mat-radio-button value="through-balance"
              >Through balance</mat-radio-button
            >
            <mat-radio-button value="event-based">Event based</mat-radio-button>
          </mat-radio-group>

          <mat-radio-group
            aria-label="Select an option"
            [formControl]="ruleForm.controls.docsRequired"
            class="horizontal-group"
          >
            <mat-label>Docs Required:</mat-label>
            <mat-radio-button [value]="true">Yes</mat-radio-button>
            <mat-radio-button [value]="false">No</mat-radio-button>
          </mat-radio-group>

          <mat-radio-group
            aria-label="Select an option"
            [formControl]="ruleForm.controls.gracePeriod"
            class="horizontal-group"
          >
            <mat-label>Grace Period:</mat-label>
            <mat-radio-button [value]="true">Yes</mat-radio-button>
            <mat-radio-button [value]="false">No</mat-radio-button>
          </mat-radio-group>

          <mat-radio-group
            aria-label="Select an option"
            [formControl]="ruleForm.controls.dispute"
            class="horizontal-group"
          >
            <mat-label>Dispute:</mat-label>
            <mat-radio-button [value]="true">Yes</mat-radio-button>
            <mat-radio-button [value]="false">No</mat-radio-button>
          </mat-radio-group>

          <mat-radio-group
            aria-label="Select an option"
            [formControl]="ruleForm.controls.validity"
            class="horizontal-group"
          >
            <mat-label>Validity:</mat-label>
            <mat-radio-button value="limited">Limited</mat-radio-button>
            <mat-radio-button value="unlimited">Unlimited</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="select-inputs">
          <div class="horizontal-group">
            <mat-label class="vertically-aligned-label">Unit:</mat-label>
            <mat-form-field floatLabel="auto" appearance="outline">
              <mat-label>Select</mat-label>
              <mat-select
                matInput
                required
                [formControl]="ruleForm.controls.unit"
              >
                @for (elem of unitOptions; track elem.name){
                <mat-option [value]="elem.value">{{ elem.name }}</mat-option>
                }
              </mat-select>

              @if (ruleForm.controls.unit.hasError('required')) {
              <mat-error>Unit is <strong>required</strong></mat-error>
              }
            </mat-form-field>
          </div>

          <div class="horizontal-group">
            <mat-label class="vertically-aligned-label">Gender:</mat-label>
            <mat-form-field floatLabel="auto" appearance="outline">
              <mat-label>Select</mat-label>
              <mat-select
                matInput
                required
                [formControl]="ruleForm.controls.gender"
              >
                @for (elem of unitOptions; track elem.name){
                <mat-option [value]="elem.value">{{ elem.name }}</mat-option>
                }
              </mat-select>

              @if (ruleForm.controls.unit.hasError('required')) {
              <mat-error>Gender is <strong>required</strong></mat-error>
              }
            </mat-form-field>
          </div>

          <div class="horizontal-group">
            <mat-label class="vertically-aligned-label"
              >Employment type:</mat-label
            >
            <mat-form-field floatLabel="auto" appearance="outline">
              <mat-label>Select</mat-label>
              <mat-select
                matInput
                required
                [formControl]="ruleForm.controls.employementType"
              >
                @for (elem of unitOptions; track elem.name){
                <mat-option [value]="elem.value">{{ elem.name }}</mat-option>
                }
              </mat-select>

              @if (ruleForm.controls.unit.hasError('required')) {
              <mat-error
                >Employement type is <strong>required</strong></mat-error
              >
              }
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>

    @if (entitledValue() == "through-balance"){
    <div class="section-container balance-container">
      <h2>Balance</h2>

      <app-coupled-input
        [options]="balaceUnitOptions"
        class="balance-input"
        label="Balance"
      ></app-coupled-input>

      <div class="balance-conditions-outer">
        <mat-checkbox> Conditional </mat-checkbox>
        <div class="balance-conditions-inner">
          <div class="balance-conditions-logic">
            <mat-label class="vertically-aligned-label"
              >Balance Conditions:</mat-label
            >
            <mat-form-field floatLabel="auto" appearance="outline">
              <mat-select matInput required value="greather-than">
                @for (elem of conditionTypeOptions; track elem.name){
                <mat-option [value]="elem.value">{{ elem.name }}</mat-option>
                }
              </mat-select>
            </mat-form-field>

            <app-coupled-input
              [options]="balaceUnitOptions"
              class="balance-input"
            ></app-coupled-input>
          </div>

          <app-coupled-input
            [options]="balaceUnitOptions"
            class="balance-input"
            label="Balance"
          ></app-coupled-input>
        </div>
      </div>

      <div class="extended-balance-outer">
        <mat-checkbox> Extend Balance </mat-checkbox>
        <div class="balance-conditions-inner">
          <app-coupled-input
            [options]="balaceUnitOptions"
            class="balance-input"
            label="Extended Balance"
          ></app-coupled-input>
        </div>
      </div>

      <mat-checkbox> Balance Can Be Overriden </mat-checkbox>

      <div class="frequency-outer">
        <div class="labeled-form-field">
          <mat-label class="vertically-aligned-label">Frequency:</mat-label>
          <mat-form-field floatLabel="auto" appearance="outline">
            <mat-select matInput required value="yearly">
              @for (elem of frequencyOptions; track elem.name){
              <mat-option [value]="elem.value">{{ elem.name }}</mat-option>
              }
            </mat-select>

            @if (ruleForm.controls.unit.hasError('required')) {
            <mat-error>Gender is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>

        <div class="labeled-form-field">
          <mat-label class="vertically-aligned-label"
            >Frequency Start:</mat-label
          >
          <mat-form-field floatLabel="auto" appearance="outline">
            <input required matInput [matDatepicker]="picker" />

            <mat-datepicker-toggle matIconSuffix [for]="picker">
            </mat-datepicker-toggle>

            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="section-container consumption-container">
      <h2>Consumption</h2>

      <mat-radio-group
        matInput
        aria-label="Select an option"
        [formControl]="ruleForm.controls.type"
      >
        <mat-radio-button value="accural">Accural</mat-radio-button>
        <mat-radio-button value="accumulated">Accumulated</mat-radio-button>
      </mat-radio-group>

      <mat-radio-group
        matInput
        aria-label="Select an option"
        [formControl]="ruleForm.controls.type"
      >
        <mat-label>Unused Balance:</mat-label>
        <mat-radio-button value="wave-out">Wave out</mat-radio-button>
        <mat-radio-button value="cashement">Cashement</mat-radio-button>
        <mat-radio-button value="carry-over">Carry over</mat-radio-button>
      </mat-radio-group>

      <div class="labeled-form-field">
        <mat-label class="vertically-aligned-label"
          >Frequency number:</mat-label
        >
        <mat-form-field floatLabel="auto" appearance="outline">
          <mat-select matInput required value="1">
            @for (elem of frequencyNumberOptions; track elem.name){
            <mat-option [value]="elem.value">{{ elem.name }}</mat-option>
            }
          </mat-select>

          @if (ruleForm.controls.unit.hasError('required')) {
          <mat-error>Gender is <strong>required</strong></mat-error>
          }
        </mat-form-field>
      </div>
    </div>
    } @else{ @if (entitledValue() == "event-based") {
    <div class="section-container balance-container">
      <h2>Balance</h2>

      <app-coupled-input
        [options]="balaceUnitOptions"
        class="balance-input"
        label="Balance"
      ></app-coupled-input>

      <div class="extended-balance-outer">
        <mat-checkbox> Extend Balance </mat-checkbox>
        <div class="balance-conditions-inner">
          <app-coupled-input
            [options]="balaceUnitOptions"
            class="balance-input"
            label="Extended Balance"
          ></app-coupled-input>
        </div>
      </div>

      <mat-checkbox> Balance Can Be Overriden </mat-checkbox>
    </div>

    }}

    <div class="button-container">
      <button type="button" mat-button extended>Cancel</button>
      <button type="button" mat-stroked-button extended>Save as draft</button>
      <button
        mat-flat-button
        extended
        type="submit"
        [disabled]="ruleForm.invalid"
      >
        Create
      </button>
    </div>
  </div>
</form>
