.sections-container {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.section-container {
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.name-input-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.name-input-container .full-width {
  width: 100%;
}

.button-container {
  display: flex;

  height: 39px;
  width: max-content;
  column-gap: 1rem;
  align-items: stretch;
}

.button-container > button {
  padding: 1rem 3rem;
}

.name-input-with-button {
  display: flex;
  align-items: baseline;
}

.mat-icon.notranslate.material-icons.mat-ligature-font.mat-icon-no-color {
  transform: scale(1.75);
}

.mdc-button--unelevated {
  --mdc-filled-button-container-height: auto;
  --mdc-filled-button-container-shape: 0.5rem;
}

.mdc-button--outlined {
  --mdc-outlined-button-container-height: auto;
}
