<form [formGroup]="ruleForm" (ngSubmit)="onSubmit()">
  <div class="sections-container">
    <div class="name-input-container section-container">
      <h2>Name</h2>

      <div class="name-input-with-button">
        <mat-form-field
          floatLabel="auto"
          appearance="outline"
          class="full-width"
        >
          <input type="text" matInput required formControlName="name" />
          @if (ruleForm.controls.name.hasError('required')) {
          <mat-error>Name is <strong>required</strong></mat-error>
          }
        </mat-form-field>
        <button type="button" mat-flat-button>
          <mat-icon>language</mat-icon>
        </button>
      </div>
    </div>

    <app-basic-info [(formState)]="formState" formGroupName="basicInfo" />

    @if (formState() !== null){

    <app-balance
      formGroupName="balance"
      [entitledValue]="formState()"
    ></app-balance>
    } @if (formState() === 'through-balance') {
    <app-consumption formGroupName="consumption" />

    }

    <div class="button-container">
      <button type="button" mat-flat-button extended>Cancel</button>
      <button
        mat-flat-button
        extended
        type="submit"
        [disabled]="ruleForm.invalid"
      >
        Create
      </button>
      <button type="button" mat-stroked-button extended>Save as draft</button>
    </div>
  </div>
</form>
